body {
  background-color: #E5E9EC;
  color: black;
}

.header-img{
  margin: 10px auto 20px auto;
  text-align: center;
  left: 42.5%;
  background-color: #E5E9EC;
}

table {
  font-family: monospace;
  font-size: 11px;
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

table th {
  color: yellow;
  background-color: #1F1300;
  text-align: center;
  vertical-align: middle;
}

table td {
  color: black
}

li button{
  margin-left: 20px;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;
  border: none;
  border-radius: 4px;
}

.index-button {
  border: 1px;
  margin: 10px 5px 30px;
  font-family: monospace;
  border-radius: 3px;
  background-color: #E5E9EC;
  opacity: 45%;
}

.index-button:hover{
  cursor: pointer;
  transition: 0.5s;
  border: 1px;
  font-family: monospace;
  border-radius: 3px;
  opacity: 90%;
}

.actual-page {
  background-color: black;
  color: yellow;
  border: 1px;
  font-family: monospace;
  border-radius: 3px;
  opacity: 100%;
}

.pure-form {
  width: 80%;
  font-size: 13px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px auto 20px;
  text-align: center;
}

select, input {
  margin: 0 10px;
}

.orderForm {
  justify-content: center;
}

footer {
  margin: 10px auto 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 44%;
}

#table-main {
  max-width: 80%;
  margin: auto;
}

.pure-button {
  margin: 0 5px;
}

.pure-menu {
  align-items: center;
  display: flex;
  justify-content: center;
}

.order-section{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-img{
  width: 100px;
}

img{
  margin-top: 10px;
}

.loadingDiv{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.filter-text{
  font-family: 'Staatliches', cursive;
}

.filter-not-found{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
/*  */
